/* Estilo general para el cuerpo del documento */
        body {
            font-family: 'Poppins', sans-serif;  /* Establece la fuente para todo el cuerpo */
            background-color: #f0f8ff;  /* Color de fondo del cuerpo */
            margin: 0; /* Elimina márgenes predeterminados */
            padding: 0; /* Elimina relleno predeterminado */
            display: flex; /* Utiliza Flexbox para el diseño */
            flex-direction: column; /* Dispone los elementos en columna */
            align-items: center;  /* Alinea los elementos al centro horizontalmente */
        }

        header {
            background-color: #221a7e; /* Color de fondo del encabezado */
            color: white; /* Color del texto del encabezado */
            padding: 1px; /* Relleno interno del encabezado */
            text-align: center; /* Centra el texto del encabezado */
            width: 50%; /* Ancho del encabezado */
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4); /* Sombra para el encabezado */
            border-radius: 10px; /* Bordes redondeados del encabezado */
            position: absolute; /* Posiciona el encabezado en relación al contenedor */
            top: 20px; /* Distancia desde la parte superior del contenedor */
            left: 50%; /* Centro horizontalmente */
            transform: translateX(-50%); /* Corrige la posición para centrar el encabezado */
            z-index: 1; /* Asegura que el encabezado esté por encima de la imagen */
        }

        /* Estilos para la imagen destacada (hero image) */
        .hero-image {
            width: 100%; /* Ancho de la imagen */
            opacity: 0.9; /* Transparencia */
            max-height: 500px; /* Limita la altura máxima de la imagen */
            object-fit: cover; /* Asegura que la imagen cubra el espacio sin deformarse */
            object-position: bottom; /* Muestra más la parte inferior de la imagen */
            margin-top: -90px; /* Espacio negativo para mover la imagen hacia arriba */
            border-radius: 10px; /* Bordes redondeados de la imagen */
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra para la imagen */
            position: relative; /* Para asegurar que la imagen esté posicionada correctamente */
            z-index: 0; /* Asegura que la imagen esté detrás del cuadro */
        }

        nav {
            margin-bottom: 20px; /* Espacio inferior del nav */
        }

        .nav-button {
            display: inline-block; /* Hace que el botón se comporte como un bloque en línea */
            background-color: #00ced1; /* Color de fondo del botón de navegación */
            color: white; /* Color del texto del botón */
            padding: 10px 20px; /* Relleno interno del botón */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados del botón */
            margin: 5px; /* Margen alrededor del botón */
            cursor: pointer; /* Cambia el cursor al pasar por encima */
            font-size: 16px; /* Tamaño de fuente del texto del botón */
            transition: all 0.3s ease; /* Transición suave para los efectos de hover */
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra para el botón */
            }

        .nav-button:hover {
            background-color: #20b2aa; /* Cambio de color al pasar el ratón por encima */
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6); /* Sombra más pronunciada al hover */
            transform: translateY(-3px); /* Levanta el botón al pasar el ratón */
        }

        /* Efectos al hacer clic en los botones */
        .nav-button:active {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra reducida al hacer clic */
            transform: translateY(2px); /* Baja el botón al hacer clic */
        }

        section {
            display: none; /* Oculta por defecto las secciones */
            margin: 20px; /* Margen alrededor de la sección */
            padding: 20px; /* Relleno interno de la sección */
            background-color: white; /* Color de fondo de la sección */
            border-radius: 10px; /* Bordes redondeados de la sección */
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra para la sección */
            width: 70%; /* Ancho de la sección */
        }

        input, select, textarea {
            width: 85%; /* Ancho de los campos de entrada */
            padding: 12px; /* Relleno interno de los campos */
            margin: 10px 0; /* Margen superior e inferior */
            border-radius: 5px; /* Bordes redondeados de los campos */
            border: 1px solid #ccc; /* Borde gris claro */
            font-size: 16px; /* Tamaño de fuente del texto en los campos */
            transition: border-color 0.3s ease; /* Transición suave para el borde */
        }   

        input:focus {
            border-color: #00ced1; /* Cambio de color del borde al enfocar el campo */
            box-shadow: 0 2px 8px rgba(0, 206, 209, 0.5); /* Sombra al enfocar el campo */
        }

        label {
            font-size: 16px; /* Tamaño de fuente de las etiquetas */
            margin-top: 10px; /* Espacio superior de la etiqueta */
            display: block; /* Las etiquetas ocupan todo el ancho */
            color: #333; /* Color del texto de las etiquetas */
        }

        form button {
            background-color: #221a7e; /* Color de fondo del botón en el formulario */
            color: white; /* Color del texto del botón */
            padding: 12px; /* Relleno interno del botón */
            border: none; /* Sin borde */
            border-radius: 5px; /* Bordes redondeados del botón */
            cursor: pointer; /* Cambia el cursor al pasar por encima */
            margin-top: 10px; /* Espacio superior del botón */
            font-size: 16px; /* Tamaño de fuente del texto del botón */
            transition: all 0.3s ease; /* Transición suave para los efectos de hover */
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); /* Sombra para el botón */
        } 

        form button:hover {
            background-color: #4169e1; /* Cambio de color al pasar el ratón por encima */
            box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada al hover */
            transform: translateY(-3px); /* Levanta el botón al pasar el ratón */
        }

        /* Efectos al hacer clic en los botones */
        form button:active {
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra reducida al hacer clic */
            transform: translateY(2px); /* Baja el botón al hacer clic */
        }

        section.active {
            display: block; /* Muestra la sección activa */
        }

        .resultadosSeguimiento {
            margin-top: 20px; /* Espacio superior para resultados de seguimiento */
            background-color: #f9f9f9; /* Color de fondo de los resultados */
            padding: 15px; /* Relleno interno de los resultados */
            border-radius: 10px; /* Bordes redondeados de los resultados */
            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4); /* Sombra para los resultados */
        }

        .message {
            color: green; /* Color del texto de mensajes */
            margin-top: 10px; /* Espacio superior para el mensaje */
        }